<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}" ></script>
    <style>
        .list{
        }
    </style>
</head>
<body>
<p>
<span th:text="${#httpServletRequest.remoteUser}"></span>さんようこそ！
</p>
<a th:href="@{/taiju/new}">登録</a>
<table class="table table-striped list">
    <tr>
        <th>id</th>
        <th>日付</th>
        <th>体重</th>
    </tr>
    <tr th:each="taiju : ${taijuList}">
        <td th:text="${taiju.id}">1</td>
        <td th:text="${#dates.format(new java.util.Date(taiju.recordedAt),'yyyy/MM/dd')}">2015/4/3</td>
        <td th:text="${taiju.weight}">51.8</td>
    </tr>
</table>

<a th:href="@{/logout}">ログアウト</a>

</body>
</html>