<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form th:object="${taijuForm}" th:action="@{/taiju/create}" method="post">
        <table>
            <tr>
                <td>体重</td>
                <td><input type="text" th:field="*{weight}"/>
                    <p th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></p>
                </td>
            </tr>
            <tr>
                <td>日付</td>
                <td><input type="text" th:field="*{recordedAt}"/>
                    <p th:if="${#fields.hasErrors('recordedAt')}" th:errors="*{recordedAt}"></p>
                </td>
            </tr>
        </table>
        <input type="submit"/>
    </form>
</body>
</html>